.container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #5c94d3;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4878a9;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 3px;
}

#resultList li {
    display: block;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
}

#resultList li:hover {
    background-color: #f5f5f5;
}
